#root {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1440px;
  text-align: center;
  &.with-background {
    min-height: 100vh;
    background-image: url(../assets/images/background.png);
    background-size: cover;
    background-position: center;
  }
}

