.read-chapter {
    padding: 50px;
    background-color: rgba(14, 195, 216, 0.21);
}

.read-chapter .chapter{
    min-height: 72vh;
}

.read-chapter .chapter-content {
    overflow: overlay;
    padding-right: 50px;
    max-width: 60%;
}