.div {
    background-color: rgba(14, 195, 216, 0.21);
}

.banner{
    padding: 50px;
    height: 300px;
    margin-bottom: 50px;
}

.title {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
    height: 200px;
    border-radius: 25px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}

.stories{
    display: flex;
    gap: 50px;
    padding: 20px 50px 50px 50px;
}

.chapter {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    max-height: 1050px;
    text-align: left;
    padding: 35px;
    width: 100%;
    & h3 {
    text-align: center;
    font-size: 32px;
    margin: 15px;
    }
    &-content{
        overflow: hidden;
        font-size: 20px;
    }
}
