.div {
    background-color: rgba(14, 195, 216, 0.21);
}

.banner{
    padding: 50px;
    height: 300px;
    margin-bottom: 50px;
}

.title {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
    height: 200px;
    border-radius: 25px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}