.stories-container {
    padding: 50px;
    background-color: rgba(14, 195, 216, 0.21);
    min-height: 72vh;
}

.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 25%;
    padding: 20px 0;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
}
.chapter-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    list-style-type: none;
    padding: 0;
}